@import "./../utils/colors";

footer {
  background-color: $darkgrey;
  padding: 1rem 2rem;
  color: white;

  @media (min-width:1023px) {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0rem;

  }

  h2 {
    font-family: "Shrikhand", "sans-serif";
    font-weight: 500;
    padding: 1rem 0;
    font-size: 16px;
  }
  p {
    padding: 0.2rem;
  }


}

.footer__menu{

  @media (min-width: 1023px) {
    display: flex;
    padding: 1.2rem;
    font-size: 68%;

    p{
      padding-right: 1rem;
    }
  }
  
}