@import "./../utils/colors";

footer {
  background-color: $darkgrey;
  padding: 1rem 2rem;
  color: white;

  h2 {
    font-family: "Shrikhand", "sans-serif";
    font-weight: 500;
    padding: 1rem 0;
  }
  p {
    padding: 0.2rem;
  }

  @media (min-width: 1025px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem 0.5rem 0;
    height: 10vh;

    
    p {
      padding: 1rem;
    }
  }
  
  
}
