@import "../utils/mixins";
@import "../utils/variables";
@import "../utils/colors";

.tuto {
  counter-reset: steps;
  padding : 1rem;
  @media (min-width: 1024px) {
    padding: 3rem;
  }
  & ol {
    display: flex;
    gap: 2rem;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  & li {
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: counter(steps);
      counter-increment: steps;
      color: white;
      background-color: $purple;
      width: 2 * $tuto-bullet-height;
      height: 2 * $tuto-bullet-height;
      display: grid;
      place-items: center;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: -1 * $tuto-bullet-height;
      transform: translateY(-50%);
    }
    list-style-type: none;
    background-color: #f6f6f6;
    padding: 1.5rem 2rem;
    flex-grow: 1;
    border-radius: 1rem;
    @include box-shadow;
    &:hover {
      @include transform-zoom;
      background-color: lighten($purple, 35%);
      i::before {
        color: $purple;
      }
    }
    & i.fas {
      margin-right: 1rem;
      color: $lightgrey;
      font-size: 1.5rem;
    }
  }
}
