@import "variable";
@import "mixin";



body {
    font-family: $font-main;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;


    &__logo{
        padding: 19px 89px 19px 89px;
        max-width: 300px;
    
    }
    &__location {
        display: flex;
        justify-content: center; 
        align-items: center;      
        gap: 17px;
        height: 50px;
        margin-top: -5px;
        width: 100%;
        background-color: $color-grey-middle;
    }
}

.hero {
    text-align: center;
    background-color: $color-grey-light;
    &__headline{
        @include title;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 30px;
    }

    &__subtitle{
        padding: 5px 20px 40px;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: $color-grey-dark;
    }

    & button{
        margin: 0;
        height: 50px;
        border-radius: 25px;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
        background:  var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        padding: 0 25px 0 25px;
        margin-bottom: 81px;
        transition: transform 400ms, background-color 300ms;
        
        &:hover{
            transform: scale(1);
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        }
        
        
    }

}

.process{
    display: flex;
    flex-direction: column;
    padding: 30px;

    &__title{
        @include title;
        
    }

    &__step{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 769px){
            flex-direction: row;
            

        }

        &__block{
            display: flex;
            align-items: center;
            width: 80%;
            height: 72px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            gap: 22px;
            margin: 20px;


            &__number{
                display: flex;
                 justify-content: center;
                 align-items: center;
                 min-width: 24px;
                 min-height: 24px;
                 background-color: $color-main;
                 border-radius: 50%;
                 color: $color-contrast;
                 font-size: 14px;
                 position: relative;
                 left: -10px;
            }

            &__fa{

                &--purple{
                    color: $color-main-d;
                }
            }

            &__text{
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}

.restaurants {
    background-color: $color-grey-light;
    padding: 16px;
    display:flex;
    flex-direction: column;
    @media (min-width: 769px) {
        flex-direction: row;
        flex-wrap: wrap;  // Permet aux cartes de passer à la ligne suivante
        justify-content: center;
        gap:20px
    }

    &__title{
        @include title;
        margin-bottom: 20px;
        // Pour les écrans supérieurs à 768px
    @media (min-width: 769px) {
        flex: 0 0 100%;  // Prend toute la largeur, donc reste sur sa propre ligne
      }       
    }

    &__card{
        display: flex;
        flex-direction: column;
        min-width: 300px;
        margin-bottom: 18px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        position: relative;

        @media (min-width: 769px) {
            max-width: calc(50% - 20px);  // Maximum de 2 cartes par ligne
            margin: 10px;  // Ajoute un peu d'espacement autour des cartes
            min-width: 45%;
        }

        &__img{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            height: 200px;
            width: 100%;
            object-fit: cover;
            object-position: 50% 60%;

        }

        &__new{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: aquamarine;
            color: #008766;
            width: 80px;
            height: 29px;
            background-color: #99e2d0;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            position: absolute; 
            top: 15px;            
            right: 15px;          
            z-index: 1;  
            font-size: 14px;
        }

        &__content{
            display: flex;
            justify-content: space-around;
            padding: 10px;


            &__description{
                width: 60%;
                display:flex;
                flex-direction: column;
                gap: 5px;

                &__title{
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }                
            }
        }

    }
}

.hidden-checkbox {
    display: none;
  
    // Quand la case est cochée
    &:checked + label .empty-heart {
      opacity: 0;
    }
    &:checked + label .full-heart {
      opacity: 1;
    }
  }

.twitter-like {
  position: relative;
  cursor: pointer;
  font-size: 2em;

  .empty-heart, .full-heart {
    position: absolute;
    transition: opacity 0.3s ease;
  }

  .full-heart {
    opacity: 0;
    background: linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;  // Pour le support de Webkit (Safari)
    background-clip: text;
    color: transparent;
  }
}


// Animation
@keyframes likeAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  


.footer{
    background-color: $color-grey-dark;
    color: $color-contrast;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;


    // Pour les écrans supérieurs à 768px
    @media (min-width: 769px) {
        flex-direction: row-reverse;  // Inverse l'ordre des éléments
        justify-content: flex-start;  // Aligne les éléments à la fin (à droite)
        align-items: end;
        padding-bottom: 10px;
        min-height: 114px;
        margin-top: 0px;
    }

    &__logo{
        font-size: 18px;
        font-weight: 400;
        font-family: "Shrikhand", cursive;
    }

    &__nav{
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: end;
            gap: 20px;
        }
        &__link{
            display: flex;
            gap: 15px;
            margin-bottom: 7px;

            @media (min-width: 768px) {
                
            }

            &__icon{
                color: $color-contrast;
            }

            &__text{
                color: $color-contrast;
            }
            
        }
        
    }
}