/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a, a:visited, a:active, a:focus {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  padding: 19px 89px 19px 89px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  margin-top: -5px;
  background-color: #eaeaea;
}

.hero {
  text-align: center;
  background-color: #f6f6f6;
}
.hero__headline {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 30px;
}
.hero__subtitle {
  padding: 5px 20px 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #353535;
}
.hero button {
  margin: 0;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(178deg, rgb(255, 121, 218) -11.44%, rgb(147, 86, 220) 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 0 25px 0 25px;
  margin-bottom: 81px;
}

.process {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.process__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.process__step__block {
  display: flex;
  align-items: center;
  width: 323px;
  height: 72px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 22px;
  margin-top: 20px;
}
.process__step__block__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: rgb(147, 86, 220);
  border-radius: 50%;
  color: white;
  font-size: 14px;
  position: relative;
  left: -10px;
}
.process__step__block__fa__purple {
  color: #8541d8;
}
.process__step__block__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 16px;
}
.restaurants__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  position: relative;
}
.restaurants__card__img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 60%;
}
.restaurants__card__new {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  color: #008766;
  width: 80px;
  height: 29px;
  background-color: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  font-size: 14px;
}
.restaurants__card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.restaurants__card__content__description {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurants__card__content__description__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.restaurant__card__content__like {
  font-size: 30px;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
}
.footer__logo {
  font-size: 18px;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
}
.footer__nav__link {
  display: flex;
  gap: 15px;
  margin-bottom: 7px;
}
.footer__nav__link__icon {
  color: white;
}
.footer__nav__link__text {
  color: white;
}

/*# sourceMappingURL=style.css.map */
